// 
// Hero
// 

// Hero Section Styles
.hero-wrapper-agency {
    background: #fff;

    &__hero {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 28px;
        margin: auto;
        padding: 64px 20px 20px;

        @media (min-width: 1025px) {
            gap: 45px;
            max-width: 1200px;
            padding: 80px 20px 0;
        }

        @media (min-width: 1248px) {
            padding: 80px 0 0;
        }

        &__section {
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: 20px;
            position: relative;
            z-index: 2;

            @media (max-width: 1025px) and (min-width: 769px) {
                flex-direction: row;
                gap: 10px;
            }

            @media (min-width: 1025px) {
                flex-direction: row;
                gap: 60px;
                justify-content: center;
            }

            &__main-text {
                align-items: flex-start;
                display: flex;
                flex-direction: column;
                gap: 20px;

                @media (min-width: 769px) and (max-width: 880px) {
                    max-width: 340px;
                }

                @media (min-width: 880px) {
                    max-width: 400px;
                }

                @media (min-width: 1025px) {
                    max-width: 500px;
                    width: 100%;
                }

                @media (min-width: 1200px) {
                    gap: 20px;
                }

                &__pill {
                    background: #e6effe;
                    border-radius: 16px;
                    color: #064ec6;
                    font-size: 15px;
                    font-weight: 500;
                    height: 26px;
                    line-height: 18px;
                    padding: 4px 10px;
                    text-align: center;
                }

                h1 {
                    color: #000d27;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 600;
                    letter-spacing: 0.02em;
                    line-height: 120%;

                    span {
                        color: #0056e5;
                    }

                    @media (max-width: 1025px) and (min-width: 769px) {
                        font-size: 40px;
                    }

                    @media (min-width: 1025px) {
                        font-size: 47px;
                        font-weight: 500;
                        letter-spacing: 0.01em;
                        line-height: 115%;
                    }
                }

                &__description {
                    color: #334363 !important;
                    font-size: 16px;
                    font-weight: 400;
                    letter-spacing: 0.02em;
                    line-height: 140%;

                    @media (min-width: 1025px) {
                        font-size: 20px;
                        letter-spacing: 0.01em;
                        line-height: 140%;
                    }
                }

                &__buttons-and-description {
                    align-items: stretch;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    width: 100%;
                    z-index: 2;

                    @media (max-width: 768px) {
                        align-items: stretch;
                    }

                    @media (max-width: 1025px) and (min-width: 769px) {
                        gap: 16px;
                        margin-top: 30px;
                    }

                    @media (min-width: 1025px) {
                        gap: 16px;
                        margin-top: 20px;
                    }

                    &__buttons {
                        align-items: flex-start;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;

                        a {
                            text-decoration: none;
                        }

                        @media (max-width: 768px) {
                            &__aword { order: 1; }
                            .tw-button__primary { order: 2; }
                            .tw-button__outline-secondary { order: 3; }
                        }

                        @media (max-width: 1025px) and (min-width: 769px) {
                            align-items: center;
                        }

                        @media (min-width: 769px) {
                            flex-direction: row;
                        }

                        &_agency {
                            flex-direction: column;

                            @media (min-width: 769px) {
                                flex-direction: row;
                            }

                            &_book-a-demo {
                                max-width: 240px;
                            }
                        }
                    }

                    &__description {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 22px;
                        opacity: 0.5;

                        @media (max-width: 1025px) and (min-width: 769px) {
                            max-width: 300px;
                        }

                        @media (min-width: 1025px) {
                            max-width: 350px;
                        }
                    }
                }
            }

            &__image {
                position: relative;
                z-index: 2;

                // Ensure the image scales well on mobile
                img {
                    width: 100%; // Make sure the image takes the full width
                    height: auto; // Maintain the aspect ratio
                    max-width: 480px; // Cap max width to avoid overflow
                }

                &__play-btn-wrapper {
                    align-items: center;
                    background: rgba(0, 0, 0, 0.5);
                    border-radius: 50%;
                    cursor: pointer;
                    display: flex;
                    height: 60px;
                    justify-content: center;
                    left: 40%;
                    position: absolute;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    transition: 0.1s ease-in-out;
                    width: 60px;

                    &:hover {
                        background: rgba(0, 0, 0, 0.4);
                    }

                    img {
                        margin-left: 7px;
                        width: 20px;
                    }
                }

                &__video {
                    display: flex;
                    justify-content: center;

                    @media (min-width: 1025px) {
                        margin: auto;
                        max-width: 640px;
                    }

                    video {
                        width: 100%;

                        @media (min-width: 769px) and (max-width: 880px) {
                            width: 400px;
                        }

                        @media (min-width: 880px) {
                            width: 450px;
                        }

                        @media (min-width: 1025px) {
                            width: 500px;
                        }

                        @media (min-width: 1200px) {
                            height: 360px;
                            width: 640px;
                        }
                    }
                }
            }
        }
    }
}
.redirection-link {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 7px;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: neue-haas-grotesk;
  font-size: 15px;
  font-weight: 500;
  justify-content: center;
  line-height: 120%;
  padding: 12px 24px;
  text-decoration: none;
  transition: background 0.15s ease-in-out;
  white-space: nowrap;
  width: 100%;

  @media (min-width: 1025px) {
    width: unset;
  }

  &__ghost {
    align-items: center;
    background: transparent;
    border: 1px solid #005aee;
    color: #005aee;
    height: 42px;
    line-height: 24px;
    padding: 7px 24px;
    transition: background 0.2s ease-in-out;

    &:hover {
      background: #f2f6fe;
    }
  }

  &__outline-secondary {
    background-color: #00092d;
    border: 1px solid #fff;
    border-radius: 5px;
    line-height: 100%;
    padding: 15px 24px;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: #2a446c;
    }
  }

  &__button-with-arrow {
    align-items: center;
    border: 1px solid #fff;
    border-radius: 9px;
    display: flex;
    gap: 8px;
    padding: 8px 12px;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: #2a446c;
    }
  }

  &__primary {
    background: #0056e5 !important;

    &:hover {
      background: #2878fc !important;
    }
  }

  &__floating {
    align-items: center;
    background: #f9e215;
    border-radius: 6px;
    color: #000d27;
    font-weight: 600;
    gap: 10px;
    height: 40px;
    justify-content: center;
    padding: 18px 24px;
    width: 124px;

    @media (min-width: 769px) {
      border-radius: 16px;
      height: unset;
      width: 200px;
    }

    &:hover {
      background: #fae848;
      transition: 0.3s;
    }
  }

  &__demos {
    align-items: center;
    background: #f9e215;
    border-radius: 8px;
    color: #00143c;
    display: flex;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    gap: 12px;
    justify-content: center;
    line-height: 32px;
    padding: 8px 32px;
    text-decoration: none;

    @media (min-width: 1025px) {
      width: 100%;
    }

    &:hover {
      background: #fae848;
      transition: 0.3s;
    }
  }

  &__green {
    background: #0da430 !important;

    &:hover {
      background: #09752f !important;
    }

    @media (min-width: 769px) {
      width: 270px;
    }
  }

  &__green-light {
    background: #027981 !important;

    &:hover {
      background: #4eabab !important;
    }
  }

  &__orange {
    background: #f47d01 !important;

    &:hover {
      background: #ee9335 !important;
    }
  }

  &__red {
    background: #c8182f !important;

    &:hover {
      background: #cc4456 !important;
    }
  }

  &__yellow {
    background: #e3ff18 !important;
    color: #000 !important;

    &:hover {
      background: #bad014 !important;
    }
  }

  &__primary-green {
    background: #48be9f !important;

    &:hover {
      background: #1fa982 !important;
    }
  }

  &__purple {
    background: #824fff !important;

    &:hover {
      background: #7049d5 !important;
    }
  }

  &__sky-blue {
    background: #0ac0e3 !important;

    &:hover {
      background: #1aa2c0 !important;
    }
  }

  &__dark-blue {
    background: #1353a4 !important;

    &:hover {
      background: #315ea6 !important;
    }
  }

  &__pink {
    background: #bf357c !important;

    &:hover {
      background: #bd4b80 !important;
    }
  }

  &__light-blue {
    background: #578cf4 !important;

    &:hover {
      background: #3b78ea !important;
    }
  }

  &__light {
    background: #f2f6fe !important;
    color: #005aee !important;
  }

  &__brown {
    background: #977656;
    color: #fff;
  }

  &__gray-light {
    background: #fff;
    border: 1px solid #d0d5dd;
    color: #344054;
    transition: 0.2s ease-in-out;

    &:hover {
      background: #f6f2f2;
    }
  }
}
.hero-wrapper-agency__hero__section__buttons-and-description {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  z-index: 2;

  @media (min-width: 769px) {
    display: none;
  }

  &__buttons {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 20px;

    a {
      text-decoration: none;
    }

    &__aword {
      @media (max-width: 768px) {
        order: 1;
      }
    }

    .tw-button__primary {
      @media (max-width: 768px) {
        order: 2;
      }
    }

    .tw-button__outline-secondary {
      @media (max-width: 768px) {
        order: 3;
      }
    }

    @media (max-width: 1025px) and (min-width: 769px) {
      align-items: center;
      gap: 20px;
    }

    @media (min-width: 769px) {
      align-items: center;
      flex-direction: row;
    }

    &_agency {
      flex-direction: column;

      @media (min-width: 769px) {
        flex-direction: row;
      }

      &__book-a-demo {
        @media (min-width: 1025px) {
          max-width: 240px;
        }
      }
    }
  }

  &__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    opacity: 0.5;

    @media (max-width: 1025px) and (min-width: 769px) {
      max-width: 300px;
    }

    @media (min-width: 1025px) {
      max-width: 350px;
    }
  }
}

