// 
// Hero 
// 

// Hero Section Styles
.hero-wrapper-agency {
    background: #fff;

    &__hero {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 28px;
        margin: auto;
        padding: 64px 20px 20px;

        @media (min-width: 1025px) {
            gap: 45px;
            max-width: 1200px;
            padding: 80px 20px 80px;
        }

        @media (min-width: 1248px) {
            padding: 80px 0;
        }
    }

    &__hero__section {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: relative;
        z-index: 2;

        @media (max-width: 1025px) and (min-width: 769px) {
            flex-direction: row;
            gap: 10px;
        }

        @media (min-width: 1025px) {
            flex-direction: row;
            gap: 60px;
            justify-content: center;
        }
    }

    &__hero__section__main-text {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media (min-width: 769px) and (max-width: 880px) {
            max-width: 340px;
        }

        @media (min-width: 880px) {
            max-width: 400px;
        }

        @media (min-width: 1025px) {
            max-width: 500px;
            width: 100%;
        }

        &__pill {
            background: #e6effe;
            border-radius: 16px;
            color: #064ec6;
            font-size: 15px;
            font-weight: 500;
            height: 26px;
            line-height: 18px;
            padding: 4px 10px;
            text-align: center;
        }

        h1 {
            color: #000d27;
            font-size: 24px;
            font-weight: 600;
            letter-spacing: 0.02em;
            line-height: 120%;

            span {
                color: #0056e5;
            }

            @media (max-width: 1025px) and (min-width: 769px) {
                font-size: 40px;
            }

            @media (min-width: 1025px) {
                font-size: 47px;
                font-weight: 500;
                letter-spacing: 0.01em;
                line-height: 115%;
            }
        }

        &__description {
            color: #334363 !important;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 0.02em;
            line-height: 140%;

            @media (min-width: 1025px) {
                font-size: 20px;
                letter-spacing: 0.01em;
            }
        }

        &__buttons-and-description {
            align-items: stretch;
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
            z-index: 2;

            @media (max-width: 768px) {
                flex-direction: column;
                gap: 20px;
            }

            @media (max-width: 1025px) and (min-width: 769px) {
                gap: 16px;
                margin-top: 30px;
            }

            @media (min-width: 1025px) {
                gap: 16px;
                margin-top: 20px;
            }

            &__buttons {
                align-items: center;
                display: flex;

                @media (max-width: 768px) {
                    .tw-button__primary {
                        order: 2;
                    }

                    .tw-button__outline-secondary {
                        order: 3;
                    }
                }

                @media (max-width: 1025px) and (min-width: 769px) {
                    align-items: center;
                    gap: 20px;
                }
            }
        }

        &__buttons-and-description__buttons_agency {
            flex-direction: column;

            @media (min-width: 769px) {
                flex-direction: row;
            }
        }

        &__description {
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            opacity: 0.5;

            @media (max-width: 1025px) and (min-width: 769px) {
                max-width: 300px;
            }

            @media (min-width: 1025px) {
                max-width: 350px;
            }
        }
    }

    &__hero__section__image {
        position: relative;
        z-index: 2;

        @media (min-width: 769px) {
            min-width: 380px;
        }

        @media (min-width: 1025px) {
            min-width: 500px;
            width: 500px;
        }

        @media (min-width: 1200px) {
            width: 640px;
        }

        &__play-btn-wrapper {
            align-items: center;
            background: rgba(0, 0, 0, 0.5);
            border-radius: 50%;
            cursor: pointer;
            display: flex;
            height: 60px;
            justify-content: center;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: 0.1s ease-in-out;
            width: 60px;

            &:hover {
                background: rgba(0, 0, 0, 0.4);
                transition: 0.1s ease-in-out;
            }

            img {
                margin-left: 7px;
                width: 20px;
            }
        }
    }

    &__hero__section__video {
        display: flex;
        justify-content: center;

        video {
            width: 100%;

            @media (min-width: 769px) and (max-width: 880px) {
                width: 400px;
            }

            @media (min-width: 880px) {
                width: 450px;
            }

            @media (min-width: 1025px) {
                width: 500px;
            }

            @media (min-width: 1200px) {
                height: 360px;
                width: 640px;
            }
        }

        @media (min-width: 1025px) {
            margin: auto;
            max-width: 640px;
            width: 100%;
        }
    }
}
