// 
// Rating
// 

// Rating Section Styles

.rating-wrapper {
    background-color: $grey-bg-color;

    .rating-inner {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 0 auto;

        @media (min-width: 1025px) {
            flex-direction: row;
            gap: 10px;
            max-width: 1200px;
            padding: 24px 0;
        }

        &__agencies {
            align-items: center;
            display: flex;
            gap: 20px;
            justify-content: center;
            padding: 21px;

            @media (min-width: 1025px) {
                gap: 10px;
                max-width: 380px;
                padding: 20.5px;
            }
        }

        &__rating-logos {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
            padding: 8px;

            @media (min-width: 768px) and (max-width: 1024px) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 16px;
            }

            @media (min-width: 1025px) {
                flex-wrap: nowrap;
                gap: 14px;
                height: 100px;
                padding: 24px;
            }
        }
    }
}
.ratings-module {
    align-items: center;
    background: #f8f9fa;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    padding: 16px 18px 16px 16px;
    transition: 0.3s;

    // Media query for mobile and tablet screens
    @media (max-width: 768px) {
        display: flex; // Ensures the module is displayed
        width: auto; // Adjust as needed
    }

    // Media query for larger screens
    @media (max-width: 1250px) {
        width: 328px;
    }
}
