// 
// Global
//

// Scroll padding for all scroll targets on page used with
// native CSS smooth scrolling
// 
// https://caniuse.com/?search=scroll-padding

html {
    scroll-padding-top: 4.5rem;
}

// Custom utilities
.font-alt {
    font-family: $alt-font-family !important;
}

.text-gradient {
    background: -webkit-linear-gradient(#{$primary}, #{$secondary});
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

// Padding for sections

aside,
section {
    padding-top: 0rem;
    padding-bottom: 0rem;
}


