// 
// Global
//

// Scroll padding for all scroll targets on page used with
// native CSS smooth scrolling
// 
// https://caniuse.com/?search=scroll-padding

html {
    scroll-padding-top: 4.5rem;
}
body {
    display: block;
    margin: 0px;
}

// Custom utilities
.font-alt {
    font-family: $alt-font-family !important;
}



// Padding for sections

aside,
section {
    padding-top: 0rem;
    padding-bottom: 0rem;
}


