// 
// Colorsbackground: #14213D;

// 

$primary: #14213D;
$primary-color:  #14213D;
$secondary-color: #ff8c00;
$secondary: #ff8c00;
$text-color: #333;

$white: #fff;
$black: #000;
$banner-black: #191919;
$mobile-links-dark: #00143C;
$banner-green: #4BE2A6;
$banner-text-color: #4BE2A6;
$banner-btn-text-color: #222;
$grey-bg-color: #E5E5E5;
$hero-btn-text-color: #808A9E;

$button-primary-bg: $primary-color;
$button-secondary-bg: white;
$button-secondary-border: $primary-color;


