// 
// Colors
// 

$primary: #14213D;
$primary-color:  #14213D;
$secondary-color: #ff8c00;
$secondary: #ff8c00;
$text-color: #333;

$white: #fff;
$black: #000;
$banner-text-color: #4BE2A6;
$grey-bg-color: #E5E5E5;
$grey-bg-color: #E5E5E5;
$button-primary-bg: $primary-color;
$button-secondary-bg: white;
$button-secondary-border: $primary-color;


$color_1: #fff;
$color_2: #1a2c37;
$color_3: #00143c;
$color_4: #66728a;
$color_5: #000;
$color_6: #0056e5;
$color_7: #808a9e;
$color_8: #667085;
$color_9: #005aee;
$font-family_1: neue-haas-grotesk;
$font-family_2: inherit;
$background-color_1: transparent;
$background-color_2: #2a446c;
$background-color_3: #4d536c;
$background-color_4: inherit;
$background-color_5: #fff;
$background-color_6: #27304d;