// 
// Colors

// 

// Primary Colors
$primary-color:  #14213D;
$secondary-color: #f47d01;
$white: #fff;
$black: #000;

// Text Colors
$text-color: #333;
$hero-btn-text-color: #808A9E;
$banner-text-color: #4BE2A6;

// Background Colors
$banner-black: #191919;
$mobile-links-dark: #00143C;
$banner-green: #4BE2A6;
$grey-bg-color: #E5E5E5;
$dark-grey-bg-color: #4D536C;
$menu-hover-bg-color: #2a446c;
$drop-menu-hover-bg-color: #f2f6fe;
$light-grey-bg-color: #f8f9fa;

// Button Colors
$banner-btn-text-color: #222;
$button-primary-bg: $primary-color;
$button-secondary-bg: white;
$button-secondary-border: $primary-color;
$secondary-color-hover: #ee9335;
$banner-green-hover: #4eabab;
$primary-color-hover:  #263657;


