// 
// Typography
// 

// Typography
$font-family-base: "Questrial", sans-serif;
$headings-font-family: "Questrial", sans-serif;
$banner-headings-font-family: "Alfa Slab One", serif;
$banner-btn-font-family: "Aleo", serif;

// Use fonts in styles
body {
  font-family: $font-family-base;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headings-font-family;
}